@using Test.DTO
@model PagoDTO
@{
    ViewData["Title"] = "Index";
    
    
}

<h1>Registro de Pago de TC </h1>

<div class="container">

    <p><b>Nombre del cliente:</b> @ViewBag.ClientName</p>
</div>

<div class="container">
    <p><b>Numero de tarjeta de credito:</b> @ViewBag.Tarjeta </p>
</div>


<hr />
<div style="border: 1px solid #ccc; padding: 20px;">
    <h2 style="color: red;">Nuevo Pago</h2>
    <form asp-action="NewPayment">
        <div class="mb-3">
            <input type="number" asp-for="IdCard" class="form-control" id="idCard" value="@ViewBag.Id" aria-describedby="idCard"  hidden readonly>
        </div>
        <div class="mb-3">
            <label for="dateTL" class="form-label">Fecha Pago</label>
            <input type="date" asp-for="Fecha" class="form-control" id="dateT" aria-describedby="date" required>        </div>
        <div class="mb-3">
            <label for="number" class="form-label">Monto</label>
            <input type="number" asp-for="Amount" class="form-control" id="numberT" step="0.01" required>
        </div>
        <button type="submit" id="guardar" class="btn btn-primary">Submit</button>
    </form>
</div>






